.theme-header.fixed.w-100p.top-0.z-9.h-8.border-b-001.border-gray-4
  .container.mx-auto.h-100p.flex.items-center.px-1.md_px-2
    //- Title
    .w-25p.flex.items-center
        - const headerLogos = data.themeMethods.headerLogos({ include, _ })
        a(href=url.pathToRoot)
          .block.md_hidden!=headerLogos.default
          .hidden.md_block.lg_hidden!=headerLogos.md
          .hidden.lg_block!=headerLogos.lg

    .flex.flex-grow
      //- Search
      .w-75p
        if data.theme.docSearch
          .relative.text-2.px-6
            #DocSearchContainer
      .flex.w-25p.justify-end
        //- Menu
        .flex.lg_hidden
          label.then_hidden.px-02.py-01.gray-5.hover_gray-7.pointer(for="menu_checkbox")
            +svg_hamburger.fill-current.w-4.h-4()
          label.hidden.then_block.px-02.py-01.gray-5.hover_gray-7.pointer(for="menu_checkbox")
            +svg_close.fill-current.w-2.h-2()

        //- Icons
        .hidden.lg_flex.items-center
          a.px-02.gray-6.text-3.lh-1(href=data.package.repository)=`v${data.package.version}`
          if data.package.github
            a.px-02.py-01.gray-5.hover_gray-7(href=data.package.github)
              +svg_github.fill-current.w-4.h-4()
